<div class="background-container">
  <div class="overlay">
   
    <div class="search-section">
      <input
        type="text"
        [(ngModel)]="searchName"
        name="searchName"
        id="searchName"
        placeholder="Search for games..."
        class="search-bar"
      />
      <button class="search-btn" (click)="searchGame()">Search</button>
    </div>
  </div>
</div>
      
      <body>
        <div class="container" id="games-populated">
          <div
            class="game-card"
            *ngFor="let game of finalResult"
          >
            <img [src]="game.backgroundImage" alt="{{ game.name }}" class="game-cover" />
            <a [routerLink]="['/main']"  [state]="{ gameObj: game }">{{ game.name }}</a>
            <p class="game-info">Available on: {{ game.platforms.join(', ') }}</p>
            <p class="game-info">Release Year: {{ game.releaseYear }}</p>
            <p class="game-info">Genres: {{ game.genres.join(', ') }}</p>
            <p class="game-info">Rating: {{ game.rating }} ({{ game.ratingsCount }} reviews)</p>
          </div>
        </div>
      </body>